body button,
label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    padding: 1px;
}


.close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.main {
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #222831;
    width: 390px;
    min-height: 50px;
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container {
    display: flex;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: transparent;
}

.friend {
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.profile-pic img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
}

.details {
    flex: 1;
    margin-left: 10px;
}

.details p {
    margin: 0;
    padding: 0;
}

.details p:first-child {
    font-weight: bold;
}

.select-button {
    width: 70px;
    padding: 6px;
    background-color: #EEEEEE;
    border: none;
    color: #222831;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.select-button:hover {
    background-color: #03C988;
    color: #EEEEEE;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}



.green {
    color: #03C988;
}

.red {
    color: red;
}

.add {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    width: 300px;


}

.bill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    background-color: #222831;
    color: #eeeeee;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;


}

.bill .div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.bill .div label {
    min-width: 120px;
    text-align: left;
    margin-right: 10px;

}

.bill .div input[type="text"],
.bill .div select {
    flex: 1;


    border-radius: 4px;
    width: 100%;
    padding: 4px;
    border-color: #EEEEEE;
    border-radius: 4px;
    margin: 8px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.bill .select-button {
    padding: 10px;
    background-color: #eeeeee;
    color: #222831;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    display: flex;
    width: 300px;
    justify-content: center;
}

.bill .select-button:hover {
    background-color: #03C988;
    color: #EEEEEE;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.add input {
    padding: 4px;
    border-color: #22283195;
    border-radius: 4px;
    margin: 8px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.add-button {
    margin-top: 12px;
    display: flex;
    width: 300px;
    justify-content: right;
}

.add-button button {
    width: 250px;
    padding: 6px;
    background-color: #191919;
    border: none;
    color: #EEEEEE;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.add-button>button:hover {
    background-color: #03C988;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}